h1 
{
	font-family: 'Montserrat', sans-serif;
	color: #fd2e58;
}

h5
{
	letter-spacing: 1px;
}

.project-label
{
	border-radius: 20px;
	padding: 2px 8px;
	margin-bottom: 20px;
	display: inline-block;
	color: white;
	font-size: 12px;
}

.project-label-active.project-label
{
	background-color: #2ecc71;
}

.project-label-old.project-label
{
	background-color: #777;
}


.project
{
	border-top: 1px solid #eee;
	padding: 15px 0;
}

.project-title
{
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 600;
}

.project-image
{
	max-height: 100%;
	max-width: 100%;
	display: block;
	margin: auto;
}

.project-link
{
	border-bottom: 2px solid #2980b9;
}